/*
Rosa: #C6426E
Morado: #642B73
Negro: #999
Gris: f5f5f5
*/
html{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: #d500f9;
}

img{
    max-width: 100%;
}
a:hover{
    opacity: 0.8;
}

.title{
    text-transform: uppercase;
    text-align: center;
}
.container{
    background: #642B73;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 80vh;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6 px rgba(0, 0, 0, 0.23);
    border-radius: 2em;
    position: relative;
    padding: 1.8em;
    overflow: scroll;
}

.content{
    padding: 1em;
}
td{
    display: block;
    width: 100%;

}
td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color:#642B73
}
th{
    display: none;
}

.actions {
    position: absolute;
    top: 1em;
    right: 1em;

}
.close {
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #642B73;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6 px rgba(0, 0, 0, 0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph {
    line-height: 1.8em;
    font-weight: 400;
}
.table{
    width: 100%;
    border-spacing: 0;
}

.table td, .table th {
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even){ background-color: #642B73;

}
.title-item {
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #C6426E; */
    border-bottom: solid 2px #C6426E;
    padding-bottom: 1em;
    font-size: 2em;
}
.address{
    margin-top: 2em;
    display:inline-block;
    font-weight: bold;
    color:#642B73;
    font-size: 1.2em;
}

.position{
    background-color: #C6426E;
    color: white;
    padding: 0.5em;
    border-radius: 2em;
    margin-right: 0.5em;
    /* border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em; */
}
.main-image{
    float:left;
    margin-right: 1em;
    height: 250px;
}
@media(min-width:900px) {
  th{
    display:table-cell;
  }
  td{
    width: auto;
    display: table-cell;
  }
  td:nth-of-type(1){
    font-size: 1emx;
  }
  .content{
    padding: 1.8em;

  }
}


@media(min-height:550px) {
    .content{
        height: 500px;
    }
}
